{% extends 'main/base.html' %}
{% load crispy_forms_filters %}
{% load static %}

{% block title %}
    Кофе-машины
{% endblock %}
<link rel="stylesheet" href="{% static 'test.css' %}" xmlns="http://www.w3.org/1999/html">
<link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">

{% block content %}
    {% load crispy_forms_tags %}
    <div class="container-md bg-white">
        <div class="row">
            <div class="col-12">
                <h1>Кофе-машины</h1>
                <p class="fs-5">На этой странице отображается наличие кофе-машины и кофеварки для продажи во всех сервисных центрах РУП "Белтелеком" города Минска. Обратите внимание на дату и время обновления статистики по сервисным центрам.</p>
            </div>
            <!-- ---------------------------------------------------------------------- Раздел с фильтрацией на странице. -->
            <div class="col-2">
                <div class = "container bg-white shadow-lg rounded-4">
                    <form  method="get">
                        {{ coffee_filter.form|crispy}}
                        {{ available_filter.form|crispy }}
                        <div class="p-sm-3">
                            <button type="submit" style= 'width: 100%' class="btn btn-secondary">Применить</button>
                        </div>
                    </form>
                </div>
            </div>
            <!-- ------------------------------------------------------------------------------Конец фильра, ниже шаблон страницы с товаром, генерируемым из админки-->
            <div class="col-10">
                <div id="loader"></div>
                <div style="display:none;" id="myDiv" class="animate-bottom">
                    <div class="card-group">
                        <div class = 'row row-cols-auto'>
                            <!-- --------------------------------------------------------------------------------Генерация товара из базы админки на карточках-->
                            {% for i in coffee_filter.qs%}
                                {% regroup  available_filter.qs by model as available_model %}
                                {% for j in available_model %}
                                    {% if i.model == j.grouper %}
                                        <div class="col mb-3 d-flex align-items-stretch">
                                            <div class="flip-card" style="width:15rem; height:auto">
                                                <div class="flip-card-inner" >
                                                    <div class="flip-card-front" >
                                                        {% if i.image%}
                                                            <img src="{{ i.image.url }}" class="card-img-top">
                                                        {%  else %}
                                                            <img src="{% static 'coffee.svg'%}" class="card-img-top">
                                                        {% endif %}
                                                        <p class="card-text"></p> <h3>{{i.company}}</h3> <p>{{ i.model.model }}</p>
                                                        <hr> <p><b>Тип:</b> {{i.mod }}</p>
                                                        <p style="height:48px"><b>Капучинатор:</b> {{ i.capucinator }}</p>
                                                        <p><b>Управление:</b>  {{ i.control }}</p>
                                                        <p><b>Давление:</b>  {{ i.pressure}} Бар</p>
                                                    </div>
                                                    <div class='flip-card-back'>
                                                        <h5>Наличие:</h5>
                                                        {% for d in available %}
                                                            {% if i.model == d.model %}
                                                                {% if d.quantity > 0 %}
                                                                    <div>{{ d.service }}: <mark>{{ d.quantity }}</mark> </div>
                                                                    <h6>{{ d.date }}</h6>
                                                                    <hr>
                                                                {% else %}
                                                                    <div>{{ d.service }}: <img src='{% static 'minus.svg' %}' height="15"></div>
                                                                    <h6> {{ d.date }}</h6>
                                                                    <hr>
                                                                {% endif %}
                                                            {% endif %}
                                                        {% endfor %}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            {% empty %}
                                <h4 class="display-4">По вашему запросу нет результатов</h4>
                                <p class="lead">Проверьте настройки фильтров и повторите поиск</p>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

