{% extends 'main/base.html' %}
{% load static %}
{% block title %}
Роботы-пылесосы
{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'myfirst1.css' %}">
<div class="col-lg-12 mx-auto p-3 py-md-6">

<main>
<div class="container-md">
    <h1>Роботы-пылесосы</h1>
    <p class="fs-5 col-md-10">На этой странице отображается наличие роботов-пылесосов для продажи во всех сервисных центрах РУП "Белтелеком" города Минска. Обратите внимание на дату и время обновления статистики по сервисным центрам.</p>
<div class="album py-5 bg-light">
    <div class="card-group">
      <div class="row">
       {% for i in vacuum %}
        <div class="col-md d-flex mb-3">
          <div class="card" style="width: 18rem;">
            <img src="{% static "robovacum.svg" %}" alt="My image">
            <div class="card-body">
                <p class="card-text" ><h3>{{i.company}}</h3> <p>{{ i.model }}</p>
                <h5>Наличие в сервисных центрах:</h5>
                {% for d in available %}
                    {% if i.model == d.model %}
                        {% if d.quantity > 0 %}
                            <div>{{ d.service }}, количество: <mark>{{ d.quantity }}</mark> </div>
                            <h6>{{ d.date }}</h6>
                            <hr></hr>
                        {% else %}
                            <div>{{ d.service }}: <img src='{% static 'minus.svg' %}', height="15"></div>
                            <h6> {{ d.date }}</h6>
                        {% endif %}
                    {% endif %}
                {% endfor %}
                <div class="d-flex justify-content-between align-items-center">
                </div>
            </div>
          </div>
        </div>
        {% endfor %}
    </div>
</div>

</div>
</div>
</main>
</div>








{% endblock %}
