{% extends 'main/base.html' %}
{#{% load crispy_forms_filters %}#}
{% load static %}
{% load paginate %}

{% block title %}
    {{ title }}
{% endblock %}
<link rel="stylesheet" href="{% static 'test.css' %}" xmlns="http://www.w3.org/1999/html">
<link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">

{% block content %}
    {#    {% load crispy_forms_tags %}#}

    <div class="container-md bg-white">
        <form method="GET" name="MyForm" action={% url 'searchresults' city17%} >
            <div class="row flex-sm-wrap">
                <div class="col-12">

                    <h1 class="mb-2 mt-2 text-center text-lg-start">{{ title }}</h1>
                    <p class="fs-5">Результаты поиска по запросу "<mark>{{ search }}</mark>"
                        (<mark>{{ city }}</mark>) :</p>
                </div>
                <!-- ---------------------------------------------------------------------- Раздел с фильтрацией на странице. -->
                <div class="col-lg-2 mb-3">
                    <div class="container  bg-white shadow-lg rounded-4 py-3">
                        <div class="visually-hidden-focusable">
                            <select class="form-control me-1 ms-2 mb-1 d-flex justify-content-center" type="search" id="Search" name="Search"  aria-label="Search">
                                <option selected value={{ search }}>{{ search }}</option>
                            </select>
                        </div>
                        <div class="mb-2 mt-2 ms-2"> Тип оборудования</div>
                        <select class="form-select mb-2" id='Type' aria-label="Type" name="Type"
                                onchange="this.form.submit()">
                            {% if  type_filter  %}
                            <option selected value={{ type_filter }}>{{ type_filter }}</option>
                            {% endif %}
                            <option value="">Все</option>
                            {% regroup type_filtered by type_fk.type as type_filter_group %}
                            {% for type in type_filter_group %}
                                <option value={{ type.grouper }}>{{ type.grouper }}</option>
                            {% endfor %}
                        </select>
                        <div class="mb-2 mt-2 ms-2"> Производитель</div>
                        <select class="form-select mb-2" id='Company' aria-label="Company" name="Company"
                                onchange="this.form.submit()">
                            {% if company  %}
                            <option selected value={{ company }}>{{ company }}</option>
                            {% endif %}
                            <option value="">Все</option>
                            {% regroup company_filter by company as company_name %}
                            {% for brand in company_name %}
                                <option value={{ brand.grouper }}>{{ brand.grouper }}</option>
                            {% endfor %}
                        </select>
{#                        <div class="p-lg-2">#}
{#                            <button type="reset" style='width: 100%; padding-left:0; padding-right:0;'#}
{#                                    class="btn btn-secondary">Применить#}
{#                            </button>#}
{#                        </div>#}
                        <div class="p-lg-2">
                            <button style='width: 100%; padding-left:0; padding-right:0;'
                                    class="btn btn-outline-secondary" id="flipbtn" form="1">Переворот
                            </button>
                        </div>
                        {#                    </form>#}

                    </div>
                </div>
                <!-- ------------------------------------------------------------------------------Конец фильра, ниже шаблон страницы с товаром, генерируемым из админки-->

                <div class="col-lg-10">
                    {#            <div class = 'container text-center' style="padding-right: 2.8rem;padding-left:0;">#}
                    {#             <div class = "container  bg-white shadow-lg rounded-4 mb-4 pt-3 pb-2">#}
                    <div class="row mb-3">
                        <div class="col-sm-5 pr-2"><img src='{% static 'sort.svg' %}' height="40">
                            <select class="form-select-sm" name="sort" onchange="this.form.submit()">
                                {#                              <option selected value="">------</option>#}
                                <option value="model__company__company" {% if sort == 'model__company__company' %}
                                        selected {% endif %}>По производителю
                                </option>
                                <option value="-model__id" {% if sort == '-model__id' %} selected {% endif %}>Сначала
                                    новые
                                </option>
                                <option value="model__price" {% if sort == 'model__price' %} selected {% endif %}>По
                                    цене (ниже)
                                </option>
                                <option value="-model__price" {% if sort == '-model__price' %} selected {% endif %}>По
                                    цене (выше)
                                </option>
                                {#                              <option value="16" {% if quantity == '16' %} selected {% endif %}>По производителю</option>#}
                                {#                              <option value="20" {% if quantity == '20' %} selected {% endif %}>По модели</option>#}
                                {#                              <option value="24" {% if quantity == '24' %} selected {% endif %}>24</option>#}
                            </select>
                        </div>
                        <div class="col-sm-5"></div>
                        <div class="col-sm-2 pl-lg-5"  ><img src='{% static 'objects-svgrepo-com.svg' %}' height="30">
                            <select class="form-select-sm" aria-label="quantity" name="quantity"
                                    onchange="this.form.submit()">
                                <option value="8" {% if quantity == '8' %} selected {% endif %}>8</option>
                                <option value="12" {% if quantity == '12' %} selected {% endif %}>12</option>
                                <option value="16" {% if quantity == '16' %} selected {% endif %}>16</option>
                                <option value="20" {% if quantity == '20' %} selected {% endif %}>20</option>
                                <option value="24" {% if quantity == '24' %} selected {% endif %}>24</option>
                            </select>
                        </div>

        {#    </div>#}
        {#                </div>#}

    </div>
    <div id="loader"></div>
    <div style="display:none;" id="myDiv" class="animate-bottom">
        <div class="card-group">
            <div class='row justify-content-center justify-content-lg-start'>
                <!-- --------------------------------------------------------------------------------Генерация товара из базы админки на карточках-->
                {% regroup  models by model as available_model %}
                {% paginate quantity available_model  %}
                {% for i in available_model %}
                    <div class="col-auto mb-3 d-flex">
                        <div class="flip-card mb-1 d-flex" style="width:15rem">
                            <div class="flip-card-inner">
                                <div class="flip-card-front">
                                    {% if i.grouper.image %}
                                        <img src="{{ i.grouper.image.url }}" class="card-img-top"
                                             style="width:14rem; height:100%">
                                    {% else %}
                                        <img src="{% static 'no_photo.svg' %}" class="card-img-top">
                                    {% endif %}
                                    <h3>{{ i.grouper.company }}</h3>
                                    <p>{{ i.grouper.model }}</p>
                                    {% if i.grouper.add_filter %}
                                        <hr><p><b>{{ i.grouper.add_filter_name }}:</b> {{ i.grouper.add_filter }}
                                    </p>{% endif %}
                                    <hr>
                                    <p>{% if i.grouper.price %}
                                        В рассрочку на <b>{{ i.grouper.split_period }}</b>
                                        {% if i.grouper.split_period == 24 %} месяца{% else %} месяцев {% endif %}:
                                        <b>{{ i.grouper.split_price }}</b> р. в месяц. (
                                        <b>{{ i.grouper.price|floatformat:2 }}</b> р.)
                                        <p>{% if i.grouper.full_price %}
                                            <hr>Стоимость при единовременном платеже: <b>{{ i.grouper.full_price }}</b>
                                            р.</p>{% endif %}
                                        <p>{% if i.grouper.warranty %}
                                            <hr>Гарантия: <b>{{ i.grouper.warranty }}</b> мес.</p>{% endif %}
                                    {% endif %}
                                </div>
                                <div class='flip-card-back'>
                                    <h6>{{ i.grouper.company }} {{ i.grouper.model }}</h6>
                                    <hr>
                                    <div style="overflow-y: scroll; height:20rem; width:15rem">
                                        {% for d in available %}
                                            {% if i.grouper  == d.model %}
                                                {% if d.quantity > 0 %}
                                                    <div>{{ d.service }}:
                                                        <mark>{{ d.quantity }}</mark>
                                                    </div>
                                                    <h6>{{ d.date }}</h6>
                                                    <hr>
                                                {% else %}
                                                    <div>{{ d.service }}: <img src='{% static 'minus.svg' %}'
                                                                               height="12"></div>
                                                    <h6> {{ d.date }}</h6>
                                                    <hr>
                                                {% endif %}
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% empty %}
                    <h4 class="display-4">По вашему запросу нет результатов</h4>
                    <p class="lead"> Проверьте настройки фильтра и повторите поиск</p>
                {% endfor %}

            <nav aria-label="Page navigation example">
                <ul class="pagination">
                    {% show_pages %}
                </ul>
            </nav>
            </div>
        </div>
    </div>

    </div>

    </div>
    </form>
    </div>
{% endblock %}